.blue {
    color:#2196F3;
    text-decoration: none;
}
.black{
    color:black;
    text-decoration: none;
}

.nav-style{
    color: rgb(21,21,21);
    text-decoration: none;
    list-style: none; 
 
}

a{
    text-decoration: none;
}
.contac-style{
    text-decoration: none;   
    list-style: none;
    color: rgb(75,75,75);
}

.baton-style{
    list-style: none;
}

.image-style{
    list-style: none;
}
   
    